variables css
:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .content{
    text-align:center;
    padding: 10%;

}
.content h1{
    font-size: 150px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    
    
    
}    

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px
}
.content a:hover{
    -webkit-text-stroke: 2px #fff;
    color: white;
  
}


  header{
    width: 100%;
    height:680px;
    background: linear-gradient(to bottom,
    rgba(45, 50, 53, 0.6),
    rgba(57, 71, 67, 0.6),
    rgba(15, 20, 22, 0.45)
    );
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .back-video{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  }
  
  .nav1{
    background: transparent;
    width: 100%;
    height: 70px;
    color:#fff;
  }
  
  .nav2{
    background: var(--fondo);
    width: 100%;
    height:100px;
    color:#000;
    
  }
  .menu2{
    background-color:grey;
  }

.foto{
  
  width: 70%;
  height: auto;
  margin: 12px;}
  
.foto:hover{
border-radius:0%;
-webkit-border-radius:80%;
box-shadow: 0px 0px 15px 15px #53504d;
-webkit-box-shadow: 0px 0px 15px 15px #0a0908;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}
 
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 14px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ height:50px;}
  
  .icono{
    display:none;
    font-size: 24px;
    padding: 10.5px 05px;
  }
  

.contenedor{
    margin:auto;
    padding: var(--margenes) 0;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  
  .contenedor h3{
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
  }
  
  .contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
  }
  
  .after::after{
    content:'';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
  }
  
  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .content-card{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height:400px;
  }
  
  .people{
    height: 80%;
  }
  
  .content-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-team{
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
  }
  
  
  .container{
    width:90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

.fondo_main{
  background: rgb(134,131,133);
background: radial-gradient(circle, rgba(134,131,133,1) 0%, rgba(58,60,64,1) 100%);
  width:100%;
  margin: 0;
  
  
}
.text{
    color: #fff;
    font-weight:500;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}
.text2{
  color: #fff;
  font-weight: 400;
  padding: 4px;
  font-size: 18px;
  
}
.titulo1{
  text-align: center;
  text-decoration: solid;
  color: white;
margin-left: 300px;
margin: 50px;
font-size: 50px;
}


/* slider*/
.slider{
    background-color:#313030;
    padding: 40px 0;
    background-image: url(/img/imagen1.png);
  
  }
  .slider_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
  }
  .slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    
  }
  
  .slider_body--show{
    opacity: 1;
    pointer-events: unset;
  }
  .slider_texts{
    max-width: 600px;
  }
  .subtitulo{
    font-size: 2,5rem;
    margin-bottom: 20px;
    color: #f2f2f2;
  }
  .slider_rewiew{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  
  
  }
  .slider_contac{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }
  .slider_img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  
  
  }
  .slider_arrow{
    cursor: pointer;
    width: 90%;
  }
  .slider_arrow:nth-of-type(2){
    justify-self: end;
  }
  /*pie de pagina*/
  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider_2{
width: 100%;
height: 600px;
overflow: hidden;
}
.slider_2 ul{
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.slider_2 li{
  width: 100%;
  list-style: none;
}
.slider_2 img{
  width: 100%;
  height: 100%;
}
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

@media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }